# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# VSCode, PyCharm 등 IDE 설정
.vscode/
.idea/

# macOS/Linux/Windows
.DS_Store
Thumbs.db

# 환경 설정
.env
.env.*

# 모델 가중치
# *.pt
*.pth
*.onnx
*.pb
assets/weights/best.pt  # YOLO 학습 결과물 (커밋 안함)

# YOLO 학습용 데이터셋 (용량 커서 업로드 제외 권장)
assets/dataset/

# Jupyter
.ipynb_checkpoints/
*.ipynb  
