# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# VSCode, PyCharm 등 IDE 설정
.vscode/
.idea/

# macOS/Linux/Windows
.DS_Store
Thumbs.db

# 환경 설정
.env
.env.*
# 가상 환경 
venv/

# 모델 가중치 및 라이브러리 파일
*.pt
*.pth
*.onnx
*.pb
*.dll
*.lib
assets/weights/
assets/dataset/

# Jupyter
.ipynb_checkpoints/
*.ipynb  
